
body
  font-family: 'Exo 2'
  font-weight: 400
  margin: 0
.container
  width: 1170px
  margin-left: auto
  margin-right: auto
button
  cursor: pointer
  outline: none
.button
  width: 166px
  height: 40px
  font-family: 'Exo 2'
  background: $main-color
  border-radius: 5px
  color: #ffffff
  border: 0
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2)
.main-button
  width: 230px
  height: 50px
  font-family: 'Exo 2'
  background-color: $main-color
  border-radius: 5px
  font-size: 16px
  font-weight: 400
  color: #ffffff
  border: 0
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2)
.main-button-o
  width: 230px
  height: 50px
  font-family: 'Exo 2'
  background-color: #ffffff
  border-radius: 5px
  font-size: 16px
  font-weight: 400
  color: $main-color
  border: 0
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2)
@media (max-width: 1200px)
  .container
    width: 960px
@media (max-width: 992px)
  .container
    width: 720px
@media (max-width: 768px)
  .container
    width: 540px
  .main-button
    width: 290px
    margin-bottom: 30px
  .main-button-o
    width: 290px
@media (max-width: 576px)
  .container
    width: 80%
@media (max-width: 320px)
  .container
    width: 290px