.dirt-wrap
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
.dirt-text
  padding-top: 160px
  padding-bottom: 160px
.dirt-text__header
  font-weight: 600
  font-size: 48px
  line-height: 56px
  max-width: 461px
  margin-bottom: 30px
.dirt-text__description
  display: block
  font-size: 18px
  line-height: 26px
  color: $subtitle-color
  max-width: 540px
  margin-bottom: 34px
.dirt-text__button
  width: 264px
  height: 50px
  border: none
  background: $main-color
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2)
  border-radius: 5px
  color: #ffffff
  font-weight: 600
  font-size: 16px
// .dirt-slider-wrap
//   height: 650px
.dirt-slider
  width: 490px 
.slick-slide
  opacity: .5
  transform: scale(.9)
  // margin-top: -20px
  // margin-bottom: -20px
  z-index: 1
  // margin-top: -20px
  // margin-bottom: -20px
.slick-active
  opacity: 1
  transform: scale(1)
  margin-top: -20px
  margin-bottom: -20px
  z-index: 3
.slick-list
  padding: 150px 0 !important