.modal
  position: absolute
  top: 0
  left: 0
  background-color: rgba($main-color, 0.5)
  width: 100%
  height: 100%
  // align-items: center
  // justify-content: center
  display: none
  overflow-y: scroll
  position: fixed
  &_active
    display: block
    
    z-index: 11
.modal-contact
  background: #fff  
  max-width: 558px
  padding: 30px
  // height: 554px
  margin-left: auto
  margin-top: 1.5rem
  margin-right: auto
  position: relative
.modal-contact__header
  font-weight: 600
  font-size: 40px
  line-height: 48px
  color: $black
  margin-bottom: 20px
.modal-contact__subtitle
  font-size: 18px
  line-height: 26px
  color: $subtitle-color
  display: block
  margin-bottom: 30px
.modal-contact__input
  display: block
  color: $subtitle-color
  padding-left: 30px
  font-size: 16px
  border: 1px solid #D1DBE3
  box-sizing: border-box
  border-radius: 5px
  display: block
  height: 60px
  width: 100%
  &:first-child
    margin-bottom: 30px
  &:nth-child(2)
    margin-bottom: 35px
.modal-contact__button
  margin-top: 30px
  width: 100%
  height: 50px
  color: #fff
  display: block
  background: $main-color
  font-size: 18px
  font-weight: 600
  border-radius: 5px
input[type="checkbox"]
  display: inline
  position: absolute
  z-index: -5
.modal-contact__label
  &:before
    content: ''
    display: inline-block
    width: 18px
    height: 18px
    backbgound: #fff
    border: 1px solid $main-color
    vertical-align: middle
    margin-right: 10px
    transition: .2s
    cursor: pointer
input[type=checkbox]:checked + .modal-contact__label:before
  background: $main-color url(../img/popup/checkbox.png) center no-repeat
.modal-contact__close
  position: absolute
  right: -40px
  top: 0
  width: 22px
  height: 22px
  background: url(../img/popup/close.png) center no-repeat
  cursor: pointer
  z-index: 8
.add-modal
  position: fixed
  top: 0
  left: 0
  background-color: rgba($main-color, 0.5)
  width: 100%
  height: 100%
  align-items: center
  justify-content: center
  display: none
  &_active
    display: block
    z-index: 11
.add-modal-contact__close
  position: absolute
  top: 0
  right: -10px
  width: 22px
  height: 22px
  background: #ffffff url(../img/popup/close.png) center no-repeat
  cursor: pointer
  z-index: 9
.add-modal-contact
  background: #fff  
  // padding: 30px
  // max-width: 550px
  overflow-x: hidden
  overflow-y: visible
  position: relative
.add-modal-contact__header
  font-weight: 600
  font-size: 40px
  line-height: 48px
  color: $black
  margin-bottom: 20px
.add-modal-contact__subtitle
  max-width: 430px
  font-size: 18px
  line-height: 26px
  margin-bottom: 20px
  color: $subtitle-color
  display: block
.add-modal-contact__cost
  font-size: 14px
  line-height: 20px
  color: $subtitle-color
  display: block
  margin-bottom: 3px
.add-modal-contact__amount
  font-weight: 900
  font-size: 32px
  line-height: 40px
  color: $black_2
  margin-bottom: 10px
.add-modal-contact-add__title
  font-size: 14px
  line-height: 20px
  color: $subtitle-color
  margin-bottom: 30px
  display: block
.add-modal-contact-add__list
  list-style: none
.add-modal-contact-add__item
  display: flex
  justify-content: space-between
  font-weight: 500
  font-size: 16px
  line-height: 24px
  margin-bottom: 2px
  &:last-child
    margin-bottom: 5px
.add-modal-contact-add__remove
  margin-right: 10px
  cursor: pointer
.add-modal-contact-add__mark
  display: inline-block
  width: 4px
  height: 4px
  background: $main-color
  border-radius: 50%
  margin-right: 6px
  vertical-align: middle
.add-modal-contact-add__more
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: $main-color
  margin-bottom: 20px
.modal-contact__header_mobile
  display: none
.success-contact
  text-align: center
.success-contact__img
  margin-top: 50px
  margin-bottom: 30px
.success-contact__header
  font-weight: 600
  font-size: 40px
  line-height: 48px
  color: $black
  margin-bottom: 20px
.success-contact__info
  font-size: 18px
  line-height: 26px
  color: $subtitle-color
@media (max-width: 991px)
  .modal-contact
    margin-top: 0
    width: 100%
  .modal-contact__header_mobile
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px
  .modal-mobile__close
    display: flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    background-color: $nav-button
    border-radius: 50%
  .modal-contact__close
    display: none
  .success-contact__img
    margin-top: 20px
    margin-bottom: 30px
  .success-contact__header
    font-weight: 600
    font-size: 28px
    line-height: 36px
    color: $black
    margin-bottom: 10px
  .success-contact__info
    font-size: 18px
    line-height: 26px
    color: $subtitle-color
.modal-contact__input-count
  display: none
.modal-contact__input-type
  display: none
.modal-contact__input-services
  display: none